{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block body %}
<div class="container">
    <h1>Обо мне</h1>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Пятибратов Сергей Петрович</h1>
    <div class="col-lg-13 mx-auto">
      <p class="fs-5 mb-5 text-white h4 ">Окончил курсы "Введение в разработку на языке программирования Python" в учебном центре DevCIT при АУЦА. Во время курсов написал голосового помощника на языке Python (версия 3.7), музыкальный проигрыватель и календарь при помощи встроенной библиотеки Tkinter. С 2008 года занимался журналистикой</p>
        <a href="https://www.facebook.com/serj.petersson"><button type="button" class="btn btn-outline-success btn-lg px-4 fw-bold">Моя страница на Facebook</button></a>
      <a href="https://github.com/SerjPetersson/SerjPetersson"><button type="button" class="btn btn-outline-warning btn-lg px-4 fw-bold">Моя страница на GitHub</button></a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}