{% extends "base.html" %}

{% block title %}
Contacts
{% endblock title %}

{% block body %}
<div class="container">
<h1>Контакты</h1><br>
	<div class="row text-center">
		<div class="col-sm-3 col-xs-6 first-box">
        <h1><span class="glyphicon glyphicon-earphone"></span></h1>
        <h3>Телефон</h3>
        <p>+996 776863472</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 second-box">
        <h1><span class="glyphicon glyphicon-home"></span></h1>
        <h3>Адрес</h3>
        <p>Бишкек, Жукеева-Пудовкина</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 third-box">
        <h1><span class="glyphicon glyphicon-send"></span></h1>
        <h3>Email</h3>
        <p>uefa90@gmail.com</p><br>
    </div>
    <div class="col-sm-3 col-xs-6 fourth-box">
    	<h1><span class="glyphicon glyphicon-leaf"></span></h1>
        <h3>Web</h3>
        <p>https://portfolio-spp.herokuapp.com/</p><br>
    </div>
    </div>
</div>
{% endblock body %}